/* Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

/* Assistant */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Assistant", sans-serif;
 textarea, input{
  color: black!important
 }
}

.hero-title {
  font-family: "Merriweather", serif;
}

.wrapper {
  @apply w-[90%] mx-auto;
}

.padding {
  @apply py-10 md:py-20;
}

.section-padding {
  @apply py-10 md:py-20 px-[5%] mx-auto;
}

.nav-items a {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  /* color: black; */
}

.boxShadow {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

}
body {
  background-color: black;
  color: white;
}

.my-border{
  border: 1.5px solid rgba(255, 255, 255, 0.76);
}
.desc1{
  word-spacing: 1.5px;
  line-height: 1.8;
  word-break: break-word;
}

@media (max-width: 768px) {
  .navbar-for-mob {
    background-color: rgb(237 20 164 / var(--tw-bg-opacity)) !important;
    border-top: 2px solid white;
  }
}